.newPasswordDialogBackground {
  background: #3e9025;
}

.setPassword {
  background: #3e9025;
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}

.setPassword:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);

  color: white;
}

.dialogBox {
  background: #030406;
}
