.container {
  min-width: 100%;
  height: 92dvh;
  background: rgb(255, 255, 255);
}

.commentSection {
  position: relative;
  background: rgb(255, 255, 255);
  /* border: 2px solid #030406; */
  height: 100%;
  box-shadow: 0 4px 16px #030406;
}
.cancelCommentIcon {
  position: fixed;
  top: 70px;
  right: 180px;
  font-size: 2rem;
  color: #3e9025;
  transition: 0.3s ease;
}
.cancelCommentIcon:hover {
  /* transform: scale(1.07); */
  color: white;
  transition: 0.3s ease;
}

.crudIcons span {
  font-size: 1.5rem;
}
.crudIcons .editCommentIcon {
  color: #3e9025;
}
.comments {
  padding: 5rem 2rem 0rem 2rem;
  height: 82%;
  overflow-y: auto;
  background-color: #030406;
  scrollbar-width: none;
}
.commentInput {
  width: 100%;
  height: 18%;

  background: #030406;
  box-shadow: 0 4px 16px #3e9025;
}
.commentInput img {
  object-fit: cover;
  border: 1px solid #fff;
}
.commentInput textarea {
  width: 85%;
  font-size: 10px;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  border: none;
  box-shadow: 0px 4px 10px rgba(10, 198, 41, 0.5);
  padding: 0.7rem;
  transition: 0.3s ease;
  scrollbar-width: none;
}

textarea:hover {
  transform: scale(1.01);
}

textarea:focus {
  background-color: transparent;
  outline: 2px solid #3e9025;
}
.commentPostIcon {
  font-size: 3rem;
  color: #3e9025;
  cursor: pointer;
  transition: all 0.3s ease;
}
.commentPostIcon:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease;
}
@media (max-width: 1400px) {
  .cancelCommentIcon {
    right: 165px;
  }
}
@media (max-width: 1200px) {
  .cancelCommentIcon {
    right: 150px;
  }
}
@media (max-width: 992px) {
  .cancelCommentIcon {
    right: 110px;
  }
}
@media (max-width: 768px) {
  .container {
    height: 100dvh;
  }
  .cancelCommentIcon {
    right: 80px;
  }
}
@media (max-width: 576px) {
  .cancelCommentIcon {
    right: 20px;
  }
  .container {
    height: 94dvh;
  }
}
